<div class ="alignn">



<%= form_tag("http://google.com/", :method => "get") do |f| %>
  <div class="form">
    <div class="labels">
        <div class="from">
            <%= label_tag :"From Station" %>
        </div>
        <div class="to">
          <%= label_tag :"To Station" %>
        </div>

    </div>


      <div class="station">
        <%  @path.each do |key, value| %>
          <%= select_tag "fromstation", options_for_select(value) %>
          <%= select_tag "tostation", options_for_select(value) %>
        <% end %>
      </div>
      <%= submit_tag("Search", :id=>"search1") %>
  </div>

  <p>Trip : <span id = "plannedtrip"><%= @plannedtrip %></span></p>


  <% end %>
</div>
